@media screen and (max-width: 375px) {
  .blog>header li.disappear {
    display: none!important;
  }
  .blog>header .el-input{
    width: 100px!important;
  }
  .blog{
    background: url(https://s1.ax1x.com/2020/05/17/YRMQyt.jpg) no-repeat center !important;
    background-attachment:fixed !important;
  }
}
@media screen and (max-width: 600px) {
  .blog>header li {
    font-size: 12px!important;
  }
  .blog .partOne main {
    display: none !important;
  }
  .blog .partOne>footer span {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 700px) {
  .blog>header li {
    padding: 0 10px !important;
  }
}
@media screen and (max-width: 870px) {
  .blog > header a {
    margin-right: 0 !important;
  }
  .blog > header img {
    margin-right: 0 !important;
  }
  /* .blog>main .main .partOne {
    display: flex!important;
  } */
  
}
/* @media screen and (max-width: 950px) {
  .blog>main section {
    margin-top: 10px !important;
  }
  .blog>main section aside:first-child {
    display: none !important;
  }
  .blog>main section article {
    margin-left: 0 !important;
  }
} */
@media screen and (max-width: 1200px) {
  .blog>main section{
    grid-template-columns: 1fr!important;
  }
  .blog>main section aside {
    display: none!important;
  }
}
@media screen and (max-width: 1620px) {
  .blog>main section{
    grid-template-columns: 2.8fr 7fr!important;
    grid-template-rows: 350px minmax(500px,750px) auto!important;
    row-gap: 10px!important;
  }
  .blog>main section aside:last-child {
    grid-area: d!important;
  }
  .blog>footer{
    grid-area: f!important;
  }
}